@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
@import "./swiper.min";
@font-face {
    font-family: 'Proxima Nova Bold';          
    src: url('../fonts/ProximaNova-Bold.woff'); 
  }
  @font-face {
    font-family: 'Proxima Nova Regular';          
    src: url('../fonts/ProximaNova-Regular.woff');
  }
@font-face {
    font-family: 'Myriad Pro';          
    src: url('../fonts/MyriadPro-Regular.woff'); 
  }
  @font-face {
    font-family: 'Myriad Semibold';          
    src: url('../fonts/ProximaNova-Semibold'); 
  }
h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
h3 {
    font-size: 24px;
}
body {
    background-color: $light-color;
    margin: 0 auto;
}
.wrap {
    margin: 0 auto;
    padding: 100px 20px;
    &_gray {
        background-color: $extra-phon-color;
        padding-bottom: 93px;
    }
    &_start {
        padding-top: 21px;
    }
    &_footer {
        background-color: $dark-phon-color;
        padding-top: 57px;
        padding-bottom: 54px;
    }
    &_product {
        padding: 104px 20px 96px;
        @media(max-width: 1024px) {
            padding: 0px 20px 50px;
        }
    }
}
.page-name {
    margin: 0 auto;
    max-width: 1600px;
    background-image: url(../img/HeaderPolygonBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $light-color;
    height: 760px;
    padding-bottom: 50px;
    @media(max-width: 700px) {
        height: 860px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    padding: 32px 20px 16px;
    @media(max-width:920px){
        flex-direction: column;
        padding: 53px 20px 78px;
    }
    @media(max-width:425px) {
        padding: 23px 20px 28px;
    }
    &__logo {
        display: block;
        width: 78px;
        height: 108px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        @media(max-width:780px){
            padding-bottom: 20px;
        }
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Proxima Nova Bold', serif;
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 17px;
        @media(max-width:920px){
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            margin-left: 29.5px; 
            padding:0 0px 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            @media(max-width:920px){
                padding: 10px 0;
            }
            &:hover {
                border-bottom: 3px solid $mark-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid  $mark-color;
            @media(max-width:768px) {
                margin-left: 0px; 
            }
        }
        &__link {
            color: #fff;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}
// swipe config style
.swiper-container {
    margin-top: 103px;
    height: 300px;
    max-width: 994px;
    position: unset;
    padding: 0 20px;
    @media(max-width:1024px) {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 53px;
    }
    @media(max-width:768px) {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 23px;
    }
    @media(max-width:425px) {
        margin-top: 0px;
        height: 340px;
    }
}
.swiper-slide {
    display: flex;
    justify-content: space-between;
    @media(max-width:425px) {
        height: 340px;
    }
}
.slider-container {
    position: relative;
}
.swiper-item {
    &__title {
        font-size: 55px;
        color: $light-color;
        font-family: 'Proxima Nova Bold', serif;
        padding-bottom: 6px;
        @media(max-width:660px) {
            font-size: 35px;
        }
    }
    &__desc {
        max-width: 470px;
        font-size: 16px;
        line-height: 1.9;
        padding-left: 2px;
        letter-spacing: 0.09px;
        padding-bottom: 20px;
        margin-bottom: 24px;
        color: $light-color;
        font-family: 'Proxima Nova Semibold', serif;
    }
    &__btn {
        width: 100px;
        background-color: $mark-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        border-radius: 5px;
        margin-left: 5px;
        padding: 18px 36px;
        color: $light-color;
        font-family: 'Proxima Nova Bold', serif;
        &:hover {
            transition: 0.3s;
            box-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
        }
        &:active {
            background-color: $phon-color;
            transition: 0.3s;
            box-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
        }
    }
    &__img {
        padding-top: 75px;
        padding-right: 67px;
        @media(max-width:1024px) {
            display: none;
            padding-right: 100px;
         }
    }
}
.swiper-pagination {
    &-bullet {
        padding: 0px;
        border-radius: 0;
        margin: 10px!important;
        background-image: url(../img/polygon2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color:transparent!important;
        width: 16px;
        height: 18px;
        &-active {
            width: 19px;
            height: 22px;
            background-image: url(../img/polygon1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color:transparent!important;
        }
    }
    @media(max-width:768px) {
        display: none;
    }
}
.swiper-container-vertical > .swiper-pagination-bullets {
    right: 43px;
    top: 38%;
}
.find {
    max-width: 119px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &-title {
        display: flex;
        justify-content: flex-end;
        font-family: 'Proxima Nova Bold', serif;
        font-size: 15px;
        text-transform: uppercase;
        color: $light-color;
        margin-top: 93px;
        @media(max-width:1024px) {
            margin-top: 23px;
        }
        @media(max-width:700px) {
            margin-top: 63px;
        }
    }
    &-img {
        margin: 20px auto;
    }
}
.info {
    max-width: 894px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 33px;
    @media(max-width:1024px) {
            flex-direction: column;
            max-width: 270px;
        }
    &-item {
        text-align: center;
        max-width: 270px;
        @media(max-width:1024px) {
            padding: 50px 0;
        }
        &__number {
            font-family: 'Proxima Nova Bold', serif;
            font-size: 60px;
            color: $phon-color;
        }
        &__desc {
            padding: 11px 0 0;
            letter-spacing: -0.5px;
            line-height: 1.24;
            font-family: 'Proxima Nova Bold', serif;
            font-size: 16px;
            color: $phon-color;
            text-transform: uppercase;
        }
    }
}
.about {
    max-width: 910px;
    margin: 0 auto;
    &-title {
        text-align: right;
        font-family: 'Proxima Nova Bold', serif;
        font-size: 60px;
        color: $phon-color;
        margin-top: 45px;
        margin-bottom: 24px;
        position: relative;
        @media(max-width:1024px) {
            margin-right: 50px;
            font-size: 50px;
        }
        @media(max-width:660px) {
            font-size: 40px;
        }
        &:after {
            content: '';
            position: absolute;
            right: -48px;
            top: -28px;
            width: 33px;
            height: 34px;
            border-top: 12px solid $mark-color;
            border-right: 12px solid $mark-color;
        }
    }
    &-cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        letter-spacing: -1.5px;
        @media(max-width: 1024px) {
            justify-content: center;
        }
        &__item {
            text-align: center;
            width: 280px;
            padding-top: 28px;
            @media(max-width: 1024px) {
                padding: 28px;
            }
        }
        &__img {
            display: block;
            text-align: center;
            height: 177px;
            &_1 {
                padding-right: 47px;
            }
            &_4 {
                padding-right: 23px;
            }
            &_row {
                padding-top: 12px;
            }
        }
        &__title{
            font-family: 'Proxima Nova Bold', serif;
            font-size: 18px;
            text-align: left;
            color: $phon-color;
            text-transform: uppercase;
            letter-spacing: -0.3px;
            padding-left: 5px;
        }
        &__desc {
            text-align: left;
            width: 276px;
            padding-top: 4px;
            line-height: 1.5;
            font-family: 'Proxima Nova Regular', serif;
            font-size: 15px;
            color: $text-color;
            padding-left: 6px;
            letter-spacing: 0;
        }
    }   
}
.product {
    max-width: 1327px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @media(max-width: 900px) {
        flex-direction: column;
        
    }
    &-item {
        padding-left: 24px;
        @media(max-width: 1024px) {
            padding-left:0;
            margin: 0 auto;
        }
        &__title{
            font-family: 'Proxima Nova Bold', serif;
            font-size: 40px;
            color: $phon-color;
            margin-top: 101px;
            margin-bottom: 11px;
        }
        &__desc {
            padding: 0px 32px 32px 4px;
            letter-spacing: -0.55px;
            max-width: 460px;
            line-height: 1.3;
            font-family: 'Proxima Nova Regular', serif;
            font-size: 16px;
            color: $text-color;
            margin-bottom: 17px;
        }
        &__img {
            
            @media(max-width: 1280px) {
                max-width: 500px;
                padding: 60px 0 0;
            }
            @media(max-width: 600px) {
                display: flex;
                justify-content: center;
                max-width: 300px;
                margin: 0 auto;
            }
            @media(max-width: 425px) {
                max-width: 280px;
                margin: 0 auto;
            }
        }
        &__btn {
            background-color: $mark-color;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            border-radius: 5px;
            margin-left: 3px;
            padding: 18px 48px;
            color: $light-color;
            font-family: 'Proxima Nova Bold', serif;
            &:hover {
                transition: 0.3s;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
            &:active {
                background-color: $phon-color;
                transition: 0.3s;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
        }
    }
}
// modal window 
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.7);
    z-index: 99999;
    background: rgba(255, 255, 255, 0.7);
	display: none;
    pointer-events: none;
    text-align: center;

    &:target {
        display: block;
        pointer-events: auto;
    }
    &-content {
        width: 660px;
        position: relative;
        margin: 10% auto;
        @media(max-width:700px) {
            max-width: 100%;
        }
        &__close {
            background: url(../img/close.png);
            color: #FFFFFF;
            position: absolute;
            right: -1%;
            text-align: center;
            top: -7%;
            width: 32px;
            height: 32px;
            text-decoration: none;
            font-weight: bold;
        }
        &__video {
            width: 100%;
            
            @media(max-width:700px) {
                width: 100%;
            }
        }
        
    }
}
.start {
    margin: 21px auto 0;
    position: relative;
    &-img {
        background-image: url(../img/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 218px;
        margin: 0 auto;
        left: 0;
        z-index: -3;
        position: absolute;
    }
    &-bg {
        background-color: #7050e5;
        width: 100%;
        height: 218px;
        left: 0;
        z-index: -2;
        position: absolute;
        opacity: 0.8;
    }
    &-content {
        max-width: 1155px;
        margin: 0 auto;
        padding: 86px 20px 74px;
        display: flex;
        justify-content: space-between;
        @media(max-width:1024px) {
            flex-direction: column;
            justify-content: center;
            max-width: 400px;
            padding: 46px 20px 34px;
        }
        &__title {
            color: $light-color;
            font-family: 'Proxima Nova Bold', serif;
            font-size: 40px;
            padding-top: 2px;
            @media(max-width: 425px) {
                font-size: 20px;
                text-align: center;
            }
        }
        &__btn {
            max-width: 170px;
            background-color: $mark-color;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            border-radius: 5px;
            margin-top: 6px;
            padding: 18px 42px;
            color: $light-color;
            font-family: 'Proxima Nova Bold', serif;
            &:hover {
                transition: 0.3s;
                box-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
            }
            &:active {
                background-color: $phon-color;
                transition: 0.3s;
                box-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
            }
            @media(max-width:1024px) {
                padding: 18px 42px;
                margin: 25px  auto 0;
            }
        }
    }
}
.footer {
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    background-color: $dark-phon-color;
    position: relative;
    @media(max-width: 900px) {
        width: 300px;
        flex-direction: column;
    }
    
    &:after {
        content: '';
        background-image: url('../img/logofooter.png');
        position: absolute;
        right: -191px;
        bottom: -26px;
        width: 75px;
        height: 86px;
        @media(max-width: 1500px) {
            right: 5%;
            bottom: 5%;
        }
        @media(max-width: 900px) {
            display: none;
        }
    }
    &-item {
        width: 265px;
        display: flex;
        flex-direction: column;
        color: $light-color;
        font-family: 'Proxima Nova Regular', serif;
        font-size: 14px;
        text-transform: uppercase;
        @media(max-width: 1500px) {
            width: 205px;
        }
        @media(max-width: 900px) {
            width: 280px;
            text-align: center;
            padding-top: 30px;
        }        
        &-title {
            color: $mark-color;
            font-family: 'Proxima Nova Bold', serif;
            margin-top: -3px;
            letter-spacing: 0.7px;
            &__img  {
                padding-right: 5px;
            }
        }
        &-list {
            line-height: 1.75;
            padding-top: 11px;
            @media(max-width: 900px) {
                text-align: center;
                margin: 0 auto;
            }
            &__link {
                display: flex;
                text-decoration: none;
                font-family: 'Proxima Nova Regular', serif;
                font-size: 14px;
                text-transform: uppercase;
                color: $light-color;
                @media(max-width: 900px) {
                    justify-content: center;
                }  
                &:hover {
                    color: $mark-color;
                    transition: 0.3s;
                }
                &:active {
                    color: $text-color;
                    transition: 0.3s;
                }
                &:visited {
                    color: $text-color;
                }
                span {
                    text-transform: none;
                    padding-left: 17px;
                }
                @media(max-width: 900px) {
                    text-align: center;
                } 
            }
        }
        &-twitter {
            margin-top: -10px;
            padding-right: 140px;
            @media(max-width: 900px) {
                padding-right: 0px;
            }
        }
        &__twitter {
            width: 300px;
            height: 300px;
            @media(max-width: 900px) {
                text-align: center;
                max-width: 280px;
            }
        }
        &-navigation {
            padding-left: 4px;
        }
        &_contact {
            max-width: 204px;
            padding-left: 9px;
            @media(max-width: 900px) {
                text-align: center;
                max-width: 280px;
            }
        }
    }
}
.twitter-tweet {
    margin-top: 0;
}

.text-desc {
    text-align: center;
    background-color: #252525;
    color: #878787;
    font-size: 10px;
    font-family: 'Myriad Pro', serif;
    padding: 10px;
    letter-spacing: 1.4px;
    img {
        vertical-align: middle;
        padding-bottom: 2px;
        width: 8px;
    }
}

