<!DOCTYPE html>
<html lang="zxx"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <script src="https://kit.fontawesome.com/c7ee97b8d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="page-name">
            <header>
                <div class="header">
                    <a href="" class="header__logo"></a>
                    <ul class="header-list">
                        <li class="header-list__item active"><a href="" class="header-list__link">Home</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Products</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Services</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Resources</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">About</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">CONTACT US</a></li>
                    </ul>
                </div>
            </header>
            <!-- Swiper -->
            <div class="slider-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="info">
                <div class="info__item">
                    <div class="info__number">126,300</div>
                    <div class="info__desc">Identity Theft Cases Reported in&nbsp;Australia</div>
                </div>
                <div class="info__item">
                    <div class="info__number">$20.1bn</div>
                    <div class="info__desc">Online Transactions per annum&nbsp;by&nbsp;Australians</div>
                </div>
                <div class="info__item">
                    <div class="info__number">45,511</div>
                    <div class="info__desc">Online Fraud Cases Reported in&nbsp;Australia</div>
                </div>
            </div>
        </div>
        <div class="wrap wrap_gray">
            <div class="about-cont">
                <div class="about-title">What We Do</div>
            </div>
            <div class="about-cont">
                <div class="about-cont__item">
                    <div class="about-cont__img about-cont__img_1">
                        <img src="../img/img1.png" alt="">
                    </div>
                    <div class="about-cont__title">Device Authentication</div>
                    <div class="about-cont__desc">High assurance out-of-band authentication of&nbsp;high impact transactions and instructions initiated through electronic service delivery channels. Audit trail of&nbsp;verification for non-repudiation. Fraud protection against man-in-the-middle and browser malware.
                    </div>
                </div>
                <div class="about-cont__item">
                    <div class="about-cont__img">
                        <img src="../img/img2.png" alt="">
                    </div>
                    <div class="about-cont__title">User Authentication</div>
                    <div class="about-cont__desc">Verify the identity of&nbsp;users for access control with contempora
                    </div>
                </div>
                <div class="about-cont__item">
                    <div class="about-cont__img">
                        <img src="../img/img3.png" alt="">
                    </div>
                    <div class="about-cont__title">Transaction Authentication</div>
                    <div class="about-cont__desc">High assurance out-of-band authentication of&nbsp;high impact transactions and instructions initiated through electronic service delivery channels. Audit trail of&nbsp;verification for non-repudiation. Fraud protection against man-in-the-middle and browser malware.

                    </div>
                </div>
            </div>
            <div class="about-cont">
                <div class="about-cont__item">
                    <div class="about-cont__img about-cont__img_4 about-cont__img_row">
                        <img src="../img/img4.png" alt="">
                    </div>
                    <div class="about-cont__title">Contemporary authentication methods</div>
                    <div class="about-cont__desc">Echidna authentication server to enable adaptive risk-based approach to security through a range of methods for different levels of authentication assurance from SMS OTPs, Challenge/Response, to more contemporary QR code signing and advanced connected mobile security tokens capable of transaction signatures with dynamic linking of the transaction context and addition of PIN, Fingerprint and other biometrics.
                    </div>
                </div>
                <div class="about-cont__item">
                    <div class="about-cont__img about-cont__img_row">
                        <img src="../img/img5.png" alt="">
                    </div>
                    <div class="about-cont__title">HSM Solutions</div>
                    <div class="about-cont__desc">Reseller of Thales nShield HSMs with professional services and subject matter expertise in HSMs, key ceremony procedures, and SEE code development.
                    </div>
                </div>
                <div class="about-cont__item">
                    <div class="about-cont__img about-cont__img_row">
                        <img src="../img/img6.png" alt="">
                    </div>
                    <div class="about-cont__title">Cloud & IoT Security</div>
                    <div class="about-cont__desc">Secure the identity and access of users, devices and Internet of Things connecting into the cloud. Support cloud adoption and migration of applications and data into private and public clouds.

                    </div>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="product">
                <div class="product__item">
                    <div class="product__title">Product Spotlight</div>
                    <div class="product__desc">Salt mSign Connected Token is a contemporary mobile security 2FA token for authentication of user identity and verification of transactions independent of the delivery channel that initiated the request.</div>
                    <div class="product__btn">more info</div>
                </div>
                <div class="product__item">
                    <a href=""><div class="product__img"></div></a>
                    
                    <!-- <iframe id="ytplayer" type="text/html" data-src="https://www.youtube.com/embed/EePTirAs6Ig?autoplay=1&rel=0" frameborder="0" allowfullscreen autoplay="1"></iframe> -->
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/5_ARibfCMhw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                </div>
            </div>
        </div>
            
        <!-- @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html") -->
        <script src="../js/main.js"></script>
    </body>
</html>